<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <moveForward>
    servoLeft.writeMicroseconds(1700);
    servoRight.writeMicroseconds(1300);
    delay(time);
    servoLeft.writeMicroseconds(1500);
    servoRight.writeMicroseconds(1500);
    delay(1);
  </moveForward>
  <moveBackward>
    servoLeft.writeMicroseconds(1300);
    servoRight.writeMicroseconds(1700);
    delay(time);
    servoLeft.writeMicroseconds(1500);
    servoRight.writeMicroseconds(1500);
    delay(1);
  </moveBackward>
  <turnLeft>
    servoLeft.writeMicroseconds(1300);
    servoRight.writeMicroseconds(1300);
    delay(time);
    servoLeft.writeMicroseconds(1500);
    servoRight.writeMicroseconds(1500);
    delay(1);
  </turnLeft>
  <turnRight>
    servoLeft.writeMicroseconds(1700);
    servoRight.writeMicroseconds(1700);
    delay(time);
    servoLeft.writeMicroseconds(1500);
    servoRight.writeMicroseconds(1500);
    delay(1);
  </turnRight>
  <InfraredDetect>
    tone(pout, 38000, 8);
    delay(1);
    int ir = digitalRead(pin);
    return !(ir);
  </InfraredDetect>
  <WhiskerDetect>
    delay(1);
    int w = digitalRead(pin);
    return !(w);
  </WhiskerDetect>
</configuration>